# **Task1**

In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load the data
data = pd.read_csv('/content/hiring.csv')
print(data)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [29]:


# Preprocess the data
data['experience'].fillna(0, inplace=True)
data['test_score(out of 10)'].fillna(data['test_score(out of 10)'].mean(), inplace=True)
print(data)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0               8.000000                           9      50000
1          0               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

<ipython-input-29-a27a3efb2373>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['experience'].fillna(0, inplace=True)
<ipython-input-29-a27a3efb2373>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['test_score(out of 10)'].fillna(data['test_score(out of 10)'].mean(), inplace=True)

In [30]:
def convert_to_int(word):
    word_dict = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5,
                 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10,
                 'eleven': 11, 'twelve': 12, 0: 0}
    # Return the value from the dictionary or the word itself if it's already numeric
    return word_dict.get(word, word)

# Apply the conversion function to the 'experience' column
data['experience'] = data['experience'].apply(convert_to_int)
print(data)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [31]:
# Define features and target variable
X = data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']]
y = data['salary($)']

# Train the model
model = LinearRegression()
model.fit(X, y)

# Create a DataFrame for the prediction data
candidate_data = pd.DataFrame({
    'experience': [2, 12],
    'test_score(out of 10)': [9, 10],
    'interview_score(out of 10)': [6, 10]
})

# Predict salaries using the model
predicted_salaries = model.predict(candidate_data)
print("Predicted Salaries:", predicted_salaries)

Predicted Salaries: [53290.89255945 92268.07227784]

# **Task2**

In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load the data
data = pd.read_csv('/content/canada_per_capita_income.csv')
print(data)

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [33]:
# Features and Target
X = data[['year']]
y = data['per capita income (US$)']

# Model Training
model = LinearRegression()
model.fit(X, y)

year_2020 = pd.DataFrame({'year': [2020]})

# Predicting for the year 2020
predicted_income_2020 = model.predict(year_2020)

print("Predicted Per Capita Income for 2020: ${:.2f}".format(predicted_income_2020[0]))

Predicted Per Capita Income for 2020: $41288.69