In [51]:
import pandas as pd

# Load the datasets
data = pd.read_csv('/content/loan_eligibility_dataset.csv')

print(data)

   Customer_ID  Gender Married Dependents     Education Self_Employed  \
0       CUST_1    Male     Yes          0      Graduate           Yes
1       CUST_2     NaN     Yes         3+      Graduate           Yes
2       CUST_3  Female      No        NaN  Not Graduate            No
3       CUST_4    Male     Yes         3+  Not Graduate            No
4       CUST_5  Female      No          1  Not Graduate            No
..         ...     ...     ...        ...           ...           ...
95     CUST_96     NaN     Yes        NaN  Not Graduate            No
96     CUST_97    Male     Yes          1  Not Graduate           Yes
97     CUST_98  Female      No          2      Graduate            No
98     CUST_99  Female     Yes          2      Graduate            No
99    CUST_100  Female     Yes         3+      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315       486.0                60
1              3461               2982       622.0               180
2              3974               2882        91.0               120
3              7005               4292       127.0               360
4              2201               4580       505.0                60
..              ...                ...         ...               ...
95             8445               3854       529.0                60
96             2606                 32       216.0                60
97             8851               2273       213.0               120
98             1693                673         NaN               360
99             8827               1871       203.0               360

    Credit_History Property_Area  Loan_Status
0              NaN         Urban            1
1              1.0         Rural            0
2              1.0         Urban            1
3              1.0         Urban            1
4              1.0     Semiurban            1
..             ...           ...          ...
95             1.0         Rural            0
96             0.0         Rural            0
97             1.0     Semiurban            0
98             1.0         Urban            1
99             1.0     Semiurban            1

[100 rows x 13 columns]

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        100 non-null    object
 1   Gender             90 non-null     object
 2   Married            91 non-null     object
 3   Dependents         91 non-null     object
 4   Education          100 non-null    object
 5   Self_Employed      100 non-null    object
 6   ApplicantIncome    100 non-null    int64
 7   CoapplicantIncome  100 non-null    int64
 8   LoanAmount         91 non-null     float64
 9   Loan_Amount_Term   100 non-null    int64
 10  Credit_History     94 non-null     float64
 11  Property_Area      100 non-null    object
 12  Loan_Status        100 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 10.3+ KB

In [53]:
print(data.isnull().sum())

Customer_ID           0
Gender               10
Married               9
Dependents            9
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            9
Loan_Amount_Term      0
Credit_History        6
Property_Area         0
Loan_Status           0
dtype: int64

In [54]:
data.shape

(100, 13)

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        100 non-null    object
 1   Gender             90 non-null     object
 2   Married            91 non-null     object
 3   Dependents         91 non-null     object
 4   Education          100 non-null    object
 5   Self_Employed      100 non-null    object
 6   ApplicantIncome    100 non-null    int64
 7   CoapplicantIncome  100 non-null    int64
 8   LoanAmount         91 non-null     float64
 9   Loan_Amount_Term   100 non-null    int64
 10  Credit_History     94 non-null     float64
 11  Property_Area      100 non-null    object
 12  Loan_Status        100 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 10.3+ KB

In [56]:
import numpy as np

# List of selected numerical and categorical columns
selected_numeric_cols = ['LoanAmount']
selected_categorical_cols = ['Gender', 'Married','Education','Credit_History','Dependents']

# Fill missing values in selected numerical columns with the mean
data[selected_numeric_cols] = data[selected_numeric_cols].fillna(data[selected_numeric_cols].mean())

# Fill missing values in selected categorical columns with the mode
for col in selected_categorical_cols:
    data[col].fillna(data[col].mode().iloc[0], inplace=True)

<ipython-input-56-29d9550d9ef9>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode().iloc[0], inplace=True)

In [57]:
print(data.head(33))

   Customer_ID  Gender Married Dependents     Education Self_Employed  \
0       CUST_1    Male     Yes          0      Graduate           Yes
1       CUST_2    Male     Yes         3+      Graduate           Yes
2       CUST_3  Female      No         3+  Not Graduate            No
3       CUST_4    Male     Yes         3+  Not Graduate            No
4       CUST_5  Female      No          1  Not Graduate            No
5       CUST_6    Male     Yes         3+      Graduate           Yes
6       CUST_7  Female      No         3+      Graduate           Yes
7       CUST_8  Female      No         3+      Graduate           Yes
8       CUST_9    Male      No         3+      Graduate           Yes
9      CUST_10  Female      No         3+  Not Graduate           Yes
10     CUST_11  Female      No          1      Graduate            No
11     CUST_12    Male      No         3+      Graduate            No
12     CUST_13    Male      No          2      Graduate            No
13     CUST_14  Female      No          1  Not Graduate            No
14     CUST_15    Male      No          2  Not Graduate           Yes
15     CUST_16  Female      No          2      Graduate           Yes
16     CUST_17    Male      No          0  Not Graduate           Yes
17     CUST_18    Male     Yes          1  Not Graduate            No
18     CUST_19  Female      No          0  Not Graduate           Yes
19     CUST_20  Female      No         3+  Not Graduate            No
20     CUST_21    Male     Yes          0  Not Graduate           Yes
21     CUST_22  Female      No          1      Graduate           Yes
22     CUST_23  Female      No          1  Not Graduate            No
23     CUST_24    Male     Yes          1  Not Graduate            No
24     CUST_25  Female      No          0  Not Graduate            No
25     CUST_26  Female     Yes          0  Not Graduate            No
26     CUST_27    Male     Yes          1  Not Graduate            No
27     CUST_28    Male     Yes          0  Not Graduate           Yes
28     CUST_29    Male      No          2      Graduate           Yes
29     CUST_30    Male     Yes          2  Not Graduate            No
30     CUST_31    Male     Yes         3+  Not Graduate           Yes
31     CUST_32    Male      No          1      Graduate           Yes
32     CUST_33  Female     Yes         3+  Not Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315  486.000000                60
1              3461               2982  622.000000               180
2              3974               2882   91.000000               120
3              7005               4292  127.000000               360
4              2201               4580  505.000000                60
5              5894                930  452.000000               180
6              4840               1300  536.000000               120
7              5783                616  358.000000               360
8              7305               1005  207.000000               360
9              2780               4578  132.000000               360
10             8639                295  145.000000               360
11             4740               4805  211.000000                60
12             1729               1929  668.000000               120
13             6177               4996  341.000000               360
14             8728               2119  235.000000                60
15             7106               4509  531.000000                60
16             3822               3836  280.000000               120
17             3754               3671  153.000000               360
18             3567               2439   74.000000               360
19             6317               2179   94.000000               180
20             5220                986  110.000000               120
21             6053               4082  242.000000               180
22             8099               2428  550.000000               180
23             4397               1316   83.000000               120
24             2282               3811  519.000000               180
25             5952               2484  164.000000                60
26             8080               2057  313.000000               360
27             5793               2536  661.000000               180
28             7851               2086   83.000000               180
29             4702               2550  305.000000               360
30             2947               2571  658.000000               120
31             4265               1322  353.285714               180
32             3956               1432  668.000000               120

    Credit_History Property_Area  Loan_Status
0              1.0         Urban            1
1              1.0         Rural            0
2              1.0         Urban            1
3              1.0         Urban            1
4              1.0     Semiurban            1
5              1.0     Semiurban            1
6              1.0         Urban            0
7              1.0     Semiurban            1
8              1.0     Semiurban            1
9              1.0         Urban            0
10             1.0         Urban            0
11             1.0         Rural            0
12             1.0         Urban            1
13             0.0         Rural            1
14             1.0         Rural            1
15             0.0     Semiurban            1
16             1.0         Rural            1
17             1.0     Semiurban            1
18             0.0         Rural            1
19             1.0         Rural            0
20             1.0     Semiurban            1
21             1.0     Semiurban            0
22             1.0     Semiurban            1
23             1.0         Urban            0
24             1.0         Urban            1
25             1.0         Rural            1
26             1.0         Rural            0
27             1.0     Semiurban            1
28             0.0         Rural            1
29             1.0         Rural            0
30             1.0     Semiurban            0
31             1.0     Semiurban            1
32             1.0         Urban            1

In [58]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
label_encoder = LabelEncoder()

data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['Married'] = label_encoder.fit_transform(data['Married'])
data['Education'] = label_encoder.fit_transform(data['Education'])
data['Self_Employed'] = label_encoder.fit_transform(data['Self_Employed'])
data['Property_Area'] = label_encoder.fit_transform(data['Property_Area'])

In [62]:
print(data.head(33))

   Customer_ID  Gender  Married Dependents  Education  Self_Employed  \
0       CUST_1       1        1          0          0              1
1       CUST_2       1        1         3+          0              1
2       CUST_3       0        0         3+          1              0
3       CUST_4       1        1         3+          1              0
4       CUST_5       0        0          1          1              0
5       CUST_6       1        1         3+          0              1
6       CUST_7       0        0         3+          0              1
7       CUST_8       0        0         3+          0              1
8       CUST_9       1        0         3+          0              1
9      CUST_10       0        0         3+          1              1
10     CUST_11       0        0          1          0              0
11     CUST_12       1        0         3+          0              0
12     CUST_13       1        0          2          0              0
13     CUST_14       0        0          1          1              0
14     CUST_15       1        0          2          1              1
15     CUST_16       0        0          2          0              1
16     CUST_17       1        0          0          1              1
17     CUST_18       1        1          1          1              0
18     CUST_19       0        0          0          1              1
19     CUST_20       0        0         3+          1              0
20     CUST_21       1        1          0          1              1
21     CUST_22       0        0          1          0              1
22     CUST_23       0        0          1          1              0
23     CUST_24       1        1          1          1              0
24     CUST_25       0        0          0          1              0
25     CUST_26       0        1          0          1              0
26     CUST_27       1        1          1          1              0
27     CUST_28       1        1          0          1              1
28     CUST_29       1        0          2          0              1
29     CUST_30       1        1          2          1              0
30     CUST_31       1        1         3+          1              1
31     CUST_32       1        0          1          0              1
32     CUST_33       0        1         3+          1              0

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315  486.000000                60
1              3461               2982  622.000000               180
2              3974               2882   91.000000               120
3              7005               4292  127.000000               360
4              2201               4580  505.000000                60
5              5894                930  452.000000               180
6              4840               1300  536.000000               120
7              5783                616  358.000000               360
8              7305               1005  207.000000               360
9              2780               4578  132.000000               360
10             8639                295  145.000000               360
11             4740               4805  211.000000                60
12             1729               1929  668.000000               120
13             6177               4996  341.000000               360
14             8728               2119  235.000000                60
15             7106               4509  531.000000                60
16             3822               3836  280.000000               120
17             3754               3671  153.000000               360
18             3567               2439   74.000000               360
19             6317               2179   94.000000               180
20             5220                986  110.000000               120
21             6053               4082  242.000000               180
22             8099               2428  550.000000               180
23             4397               1316   83.000000               120
24             2282               3811  519.000000               180
25             5952               2484  164.000000                60
26             8080               2057  313.000000               360
27             5793               2536  661.000000               180
28             7851               2086   83.000000               180
29             4702               2550  305.000000               360
30             2947               2571  658.000000               120
31             4265               1322  353.285714               180
32             3956               1432  668.000000               120

    Credit_History  Property_Area  Loan_Status
0              1.0              2            1
1              1.0              0            0
2              1.0              2            1
3              1.0              2            1
4              1.0              1            1
5              1.0              1            1
6              1.0              2            0
7              1.0              1            1
8              1.0              1            1
9              1.0              2            0
10             1.0              2            0
11             1.0              0            0
12             1.0              2            1
13             0.0              0            1
14             1.0              0            1
15             0.0              1            1
16             1.0              0            1
17             1.0              1            1
18             0.0              0            1
19             1.0              0            0
20             1.0              1            1
21             1.0              1            0
22             1.0              1            1
23             1.0              2            0
24             1.0              2            1
25             1.0              0            1
26             1.0              0            0
27             1.0              1            1
28             0.0              0            1
29             1.0              0            0
30             1.0              1            0
31             1.0              1            1
32             1.0              2            1

In [60]:
print(data.Self_Employed)

0     1
1     1
2     0
3     0
4     0
     ..
95    0
96    1
97    0
98    0
99    0
Name: Self_Employed, Length: 100, dtype: int64

In [31]:
print(data.head(33))

   Customer_ID  Gender  Married Dependents  Education  Self_Employed  \
0       CUST_1       1        1          0          0              1
1       CUST_2       2        1         3+          0              1
2       CUST_3       0        0        NaN          1              0
3       CUST_4       1        1         3+          1              0
4       CUST_5       0        0          1          1              0
5       CUST_6       1        1        NaN          0              1
6       CUST_7       0        0         3+          0              1
7       CUST_8       0        0        NaN          0              1
8       CUST_9       1        0        NaN          0              1
9      CUST_10       0        0         3+          1              1
10     CUST_11       0        0          1          0              0
11     CUST_12       1        0         3+          0              0
12     CUST_13       1        0          2          0              0
13     CUST_14       0        0          1          1              0
14     CUST_15       1        0          2          1              1
15     CUST_16       0        0          2          0              1
16     CUST_17       1        0          0          1              1
17     CUST_18       1        1          1          1              0
18     CUST_19       0        0          0          1              1
19     CUST_20       0        0         3+          1              0
20     CUST_21       2        1          0          1              1
21     CUST_22       0        0          1          0              1
22     CUST_23       0        0          1          1              0
23     CUST_24       2        1          1          1              0
24     CUST_25       0        0          0          1              0
25     CUST_26       0        1          0          1              0
26     CUST_27       1        1          1          1              0
27     CUST_28       1        1          0          1              1
28     CUST_29       1        0          2          0              1
29     CUST_30       1        1          2          1              0
30     CUST_31       1        1         3+          1              1
31     CUST_32       1        0          1          0              1
32     CUST_33       0        1         3+          1              0

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315       486.0                60
1              3461               2982       622.0               180
2              3974               2882        91.0               120
3              7005               4292       127.0               360
4              2201               4580       505.0                60
5              5894                930       452.0               180
6              4840               1300       536.0               120
7              5783                616       358.0               360
8              7305               1005       207.0               360
9              2780               4578       132.0               360
10             8639                295       145.0               360
11             4740               4805       211.0                60
12             1729               1929       668.0               120
13             6177               4996       341.0               360
14             8728               2119       235.0                60
15             7106               4509       531.0                60
16             3822               3836       280.0               120
17             3754               3671       153.0               360
18             3567               2439        74.0               360
19             6317               2179        94.0               180
20             5220                986       110.0               120
21             6053               4082       242.0               180
22             8099               2428       550.0               180
23             4397               1316        83.0               120
24             2282               3811       519.0               180
25             5952               2484       164.0                60
26             8080               2057       313.0               360
27             5793               2536       661.0               180
28             7851               2086        83.0               180
29             4702               2550       305.0               360
30             2947               2571       658.0               120
31             4265               1322         NaN               180
32             3956               1432       668.0               120

    Credit_History Property_Area  Loan_Status
0                2         Urban            1
1                1         Rural            0
2                1         Urban            1
3                1         Urban            1
4                1     Semiurban            1
5                1     Semiurban            1
6                1         Urban            0
7                1     Semiurban            1
8                1     Semiurban            1
9                1         Urban            0
10               1         Urban            0
11               1         Rural            0
12               1         Urban            1
13               0         Rural            1
14               1         Rural            1
15               0     Semiurban            1
16               1         Rural            1
17               1     Semiurban            1
18               0         Rural            1
19               1         Rural            0
20               1     Semiurban            1
21               1     Semiurban            0
22               1     Semiurban            1
23               1         Urban            0
24               1         Urban            1
25               1         Rural            1
26               2         Rural            0
27               1     Semiurban            1
28               0         Rural            1
29               1         Rural            0
30               1     Semiurban            0
31               1     Semiurban            1
32               1         Urban            1

In [32]:
le = LabelEncoder()

# Apply Label Encoding
data['Property_Area'] = le.fit_transform(data['Property_Area'])

print(data['Property_Area'].head())

0    2
1    0
2    2
3    2
4    1
Name: Property_Area, dtype: int64

In [33]:
print(data.head(33))

   Customer_ID  Gender  Married Dependents  Education  Self_Employed  \
0       CUST_1       1        1          0          0              1
1       CUST_2       2        1         3+          0              1
2       CUST_3       0        0        NaN          1              0
3       CUST_4       1        1         3+          1              0
4       CUST_5       0        0          1          1              0
5       CUST_6       1        1        NaN          0              1
6       CUST_7       0        0         3+          0              1
7       CUST_8       0        0        NaN          0              1
8       CUST_9       1        0        NaN          0              1
9      CUST_10       0        0         3+          1              1
10     CUST_11       0        0          1          0              0
11     CUST_12       1        0         3+          0              0
12     CUST_13       1        0          2          0              0
13     CUST_14       0        0          1          1              0
14     CUST_15       1        0          2          1              1
15     CUST_16       0        0          2          0              1
16     CUST_17       1        0          0          1              1
17     CUST_18       1        1          1          1              0
18     CUST_19       0        0          0          1              1
19     CUST_20       0        0         3+          1              0
20     CUST_21       2        1          0          1              1
21     CUST_22       0        0          1          0              1
22     CUST_23       0        0          1          1              0
23     CUST_24       2        1          1          1              0
24     CUST_25       0        0          0          1              0
25     CUST_26       0        1          0          1              0
26     CUST_27       1        1          1          1              0
27     CUST_28       1        1          0          1              1
28     CUST_29       1        0          2          0              1
29     CUST_30       1        1          2          1              0
30     CUST_31       1        1         3+          1              1
31     CUST_32       1        0          1          0              1
32     CUST_33       0        1         3+          1              0

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315       486.0                60
1              3461               2982       622.0               180
2              3974               2882        91.0               120
3              7005               4292       127.0               360
4              2201               4580       505.0                60
5              5894                930       452.0               180
6              4840               1300       536.0               120
7              5783                616       358.0               360
8              7305               1005       207.0               360
9              2780               4578       132.0               360
10             8639                295       145.0               360
11             4740               4805       211.0                60
12             1729               1929       668.0               120
13             6177               4996       341.0               360
14             8728               2119       235.0                60
15             7106               4509       531.0                60
16             3822               3836       280.0               120
17             3754               3671       153.0               360
18             3567               2439        74.0               360
19             6317               2179        94.0               180
20             5220                986       110.0               120
21             6053               4082       242.0               180
22             8099               2428       550.0               180
23             4397               1316        83.0               120
24             2282               3811       519.0               180
25             5952               2484       164.0                60
26             8080               2057       313.0               360
27             5793               2536       661.0               180
28             7851               2086        83.0               180
29             4702               2550       305.0               360
30             2947               2571       658.0               120
31             4265               1322         NaN               180
32             3956               1432       668.0               120

    Credit_History  Property_Area  Loan_Status
0                2              2            1
1                1              0            0
2                1              2            1
3                1              2            1
4                1              1            1
5                1              1            1
6                1              2            0
7                1              1            1
8                1              1            1
9                1              2            0
10               1              2            0
11               1              0            0
12               1              2            1
13               0              0            1
14               1              0            1
15               0              1            1
16               1              0            1
17               1              1            1
18               0              0            1
19               1              0            0
20               1              1            1
21               1              1            0
22               1              1            1
23               1              2            0
24               1              2            1
25               1              0            1
26               2              0            0
27               1              1            1
28               0              0            1
29               1              0            0
30               1              1            0
31               1              1            1
32               1              2            1

<ipython-input-35-42f539f66ce9>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode().iloc[0], inplace=True)

In [36]:
print(data.head(33))

   Customer_ID  Gender  Married Dependents  Education  Self_Employed  \
0       CUST_1       1        1          0          0              1
1       CUST_2       2        1         3+          0              1
2       CUST_3       0        0         3+          1              0
3       CUST_4       1        1         3+          1              0
4       CUST_5       0        0          1          1              0
5       CUST_6       1        1         3+          0              1
6       CUST_7       0        0         3+          0              1
7       CUST_8       0        0         3+          0              1
8       CUST_9       1        0         3+          0              1
9      CUST_10       0        0         3+          1              1
10     CUST_11       0        0          1          0              0
11     CUST_12       1        0         3+          0              0
12     CUST_13       1        0          2          0              0
13     CUST_14       0        0          1          1              0
14     CUST_15       1        0          2          1              1
15     CUST_16       0        0          2          0              1
16     CUST_17       1        0          0          1              1
17     CUST_18       1        1          1          1              0
18     CUST_19       0        0          0          1              1
19     CUST_20       0        0         3+          1              0
20     CUST_21       2        1          0          1              1
21     CUST_22       0        0          1          0              1
22     CUST_23       0        0          1          1              0
23     CUST_24       2        1          1          1              0
24     CUST_25       0        0          0          1              0
25     CUST_26       0        1          0          1              0
26     CUST_27       1        1          1          1              0
27     CUST_28       1        1          0          1              1
28     CUST_29       1        0          2          0              1
29     CUST_30       1        1          2          1              0
30     CUST_31       1        1         3+          1              1
31     CUST_32       1        0          1          0              1
32     CUST_33       0        1         3+          1              0

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              8488                315  486.000000                60
1              3461               2982  622.000000               180
2              3974               2882   91.000000               120
3              7005               4292  127.000000               360
4              2201               4580  505.000000                60
5              5894                930  452.000000               180
6              4840               1300  536.000000               120
7              5783                616  358.000000               360
8              7305               1005  207.000000               360
9              2780               4578  132.000000               360
10             8639                295  145.000000               360
11             4740               4805  211.000000                60
12             1729               1929  668.000000               120
13             6177               4996  341.000000               360
14             8728               2119  235.000000                60
15             7106               4509  531.000000                60
16             3822               3836  280.000000               120
17             3754               3671  153.000000               360
18             3567               2439   74.000000               360
19             6317               2179   94.000000               180
20             5220                986  110.000000               120
21             6053               4082  242.000000               180
22             8099               2428  550.000000               180
23             4397               1316   83.000000               120
24             2282               3811  519.000000               180
25             5952               2484  164.000000                60
26             8080               2057  313.000000               360
27             5793               2536  661.000000               180
28             7851               2086   83.000000               180
29             4702               2550  305.000000               360
30             2947               2571  658.000000               120
31             4265               1322  353.285714               180
32             3956               1432  668.000000               120

    Credit_History  Property_Area  Loan_Status
0                2              2            1
1                1              0            0
2                1              2            1
3                1              2            1
4                1              1            1
5                1              1            1
6                1              2            0
7                1              1            1
8                1              1            1
9                1              2            0
10               1              2            0
11               1              0            0
12               1              2            1
13               0              0            1
14               1              0            1
15               0              1            1
16               1              0            1
17               1              1            1
18               0              0            1
19               1              0            0
20               1              1            1
21               1              1            0
22               1              1            1
23               1              2            0
24               1              2            1
25               1              0            1
26               2              0            0
27               1              1            1
28               0              0            1
29               1              0            0
30               1              1            0
31               1              1            1
32               1              2            1

In [74]:
scaler = StandardScaler()
data[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term']] = scaler.fit_transform(
    data[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term']]
)

In [75]:
data.head(33)

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,CUST_1,1,1,0,0,1,1.519150,-1.613236,7.089428e-01,-1.139466,1.0,2,1
1,CUST_2,1,1,3+,0,1,-0.848084,0.295322,1.435437e+00,-0.098858,1.0,0,0
2,CUST_3,0,0,3+,1,0,-0.606510,0.223760,-1.401097e+00,-0.619162,1.0,2,1
3,CUST_4,1,1,3+,1,0,0.820799,1.232784,-1.208789e+00,1.462055,1.0,2,1
4,CUST_5,0,0,1,1,0,-1.441422,1.438882,8.104383e-01,-1.139466,1.0,1,1
5,CUST_6,1,1,3+,0,1,0.297625,-1.173130,5.273191e-01,-0.098858,1.0,1,1
6,CUST_7,0,0,3+,0,1,-0.198707,-0.908350,9.760364e-01,-0.619162,1.0,2,0
7,CUST_8,0,0,3+,0,1,0.245355,-1.397834,2.518311e-02,1.462055,1.0,1,1
8,CUST_9,1,0,3+,0,1,0.962071,-1.119458,-7.814396e-01,1.462055,1.0,1,1
9,CUST_10,0,0,3+,1,1,-1.168769,1.437451,-1.182080e+00,1.462055,1.0,2,0
10,CUST_11,0,0,1,0,0,1.590256,-1.627548,-1.112636e+00,1.462055,1.0,2,0
11,CUST_12,1,0,3+,0,0,-0.245798,1.599896,-7.600721e-01,-1.139466,1.0,0,0
12,CUST_13,1,0,2,0,0,-1.663689,-0.458226,1.681164e+00,-0.619162,1.0,2,1
13,CUST_14,0,0,1,1,0,0.430891,1.736580,-6.562872e-02,1.462055,0.0,0,1
14,CUST_15,1,0,2,1,1,1.632167,-0.322258,-6.318672e-01,-1.139466,1.0,0,1
15,CUST_16,0,0,2,0,1,0.868361,1.388073,9.493270e-01,-1.139466,0.0,1,1
16,CUST_17,1,0,0,1,1,-0.678087,0.906461,-3.914829e-01,-0.619162,1.0,0,1
17,CUST_18,1,1,1,1,0,-0.710109,0.788384,-1.069901e+00,1.462055,1.0,1,1
18,CUST_19,0,0,0,1,1,-0.798168,-0.093260,-1.491909e+00,1.462055,0.0,0,1
19,CUST_20,0,0,3+,1,0,0.496818,-0.279321,-1.385071e+00,-0.098858,1.0,0,0
20,CUST_21,1,1,0,1,1,-0.019764,-1.133055,-1.299601e+00,-0.619162,1.0,1,1
21,CUST_22,0,0,1,0,1,0.372499,1.082503,-5.944741e-01,-0.098858,1.0,1,0
22,CUST_23,0,0,1,1,0,1.335968,-0.101131,1.050823e+00,-0.098858,1.0,1,1
23,CUST_24,1,1,1,1,0,-0.407318,-0.896900,-1.443832e+00,-0.619162,1.0,2,0
24,CUST_25,0,0,0,1,0,-1.403279,0.888571,8.852246e-01,-0.098858,1.0,2,1
25,CUST_26,0,1,0,1,0,0.324938,-0.061057,-1.011140e+00,-1.139466,1.0,0,1
26,CUST_27,1,1,1,1,0,1.327021,-0.366626,-2.152011e-01,1.462055,1.0,0,0
27,CUST_28,1,1,0,1,1,0.250064,-0.023844,1.643770e+00,-0.098858,1.0,1,1
28,CUST_29,1,0,2,0,1,1.219184,-0.345873,-1.443832e+00,-0.098858,0.0,0,1
29,CUST_30,1,1,2,1,0,-0.263692,-0.013826,-2.579361e-01,1.462055,1.0,0,0
30,CUST_31,1,1,3+,1,1,-1.090128,0.001202,1.627745e+00,-0.619162,1.0,1,0
31,CUST_32,1,0,1,0,1,-0.469477,-0.892607,-5.329071e-17,-0.098858,1.0,1,1
32,CUST_33,0,1,3+,1,0,-0.614986,-0.813888,1.681164e+00,-0.619162,1.0,2,1

In [76]:
# Select features and target
features = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
            'Credit_History', 'Property_Area', 'Education']
X = data[features]
y = data['Loan_Status']

In [77]:
from sklearn.model_selection import train_test_split# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [78]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.17.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.68.0)
Requirement already satisfied: tensorboard<2.18,>=2.17 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.5.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.0)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->tensorflow) (0.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.18,>=2.17->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow) (0.1.2)

In [129]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import classification_report, accuracy_score
# Build ANN model
model = Sequential([
    Dense(32, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(11, activation='relu'),
    Dense(1, activation='sigmoid')  # Binary output
])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [133]:
# Compile model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=35, batch_size=16, validation_split=0.3)

# Evaluate model
y_pred = (model.predict(X_test) > 0.5).astype("int32")
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Epoch 1/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 2s 88ms/step - accuracy: 0.8152 - loss: 0.4238 - val_accuracy: 0.7500 - val_loss: 0.5874
Epoch 2/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.7798 - loss: 0.4708 - val_accuracy: 0.7083 - val_loss: 0.5889
Epoch 3/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7943 - loss: 0.4405 - val_accuracy: 0.7083 - val_loss: 0.5910
Epoch 4/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8452 - loss: 0.3904 - val_accuracy: 0.7083 - val_loss: 0.5936
Epoch 5/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8473 - loss: 0.3996 - val_accuracy: 0.7083 - val_loss: 0.5959
Epoch 6/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8182 - loss: 0.4227 - val_accuracy: 0.7083 - val_loss: 0.5968
Epoch 7/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7994 - loss: 0.4439 - val_accuracy: 0.7083 - val_loss: 0.5983
Epoch 8/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8295 - loss: 0.4361 - val_accuracy: 0.7083 - val_loss: 0.5997
Epoch 9/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8211 - loss: 0.4330 - val_accuracy: 0.7083 - val_loss: 0.6010
Epoch 10/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8274 - loss: 0.4211 - val_accuracy: 0.7083 - val_loss: 0.6023
Epoch 11/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8690 - loss: 0.3750 - val_accuracy: 0.7083 - val_loss: 0.6038
Epoch 12/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8899 - loss: 0.3543 - val_accuracy: 0.7083 - val_loss: 0.6050
Epoch 13/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8524 - loss: 0.4098 - val_accuracy: 0.7083 - val_loss: 0.6063
Epoch 14/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8762 - loss: 0.3743 - val_accuracy: 0.7083 - val_loss: 0.6074
Epoch 15/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8970 - loss: 0.3475 - val_accuracy: 0.7083 - val_loss: 0.6080
Epoch 16/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8720 - loss: 0.3834 - val_accuracy: 0.7083 - val_loss: 0.6086
Epoch 17/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8438 - loss: 0.4128 - val_accuracy: 0.7083 - val_loss: 0.6100
Epoch 18/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.9104 - loss: 0.3530 - val_accuracy: 0.7083 - val_loss: 0.6115
Epoch 19/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8833 - loss: 0.3821 - val_accuracy: 0.6667 - val_loss: 0.6121
Epoch 20/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8479 - loss: 0.4060 - val_accuracy: 0.6667 - val_loss: 0.6137
Epoch 21/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8625 - loss: 0.3900 - val_accuracy: 0.6667 - val_loss: 0.6155
Epoch 22/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8625 - loss: 0.3828 - val_accuracy: 0.6667 - val_loss: 0.6171
Epoch 23/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8750 - loss: 0.3777 - val_accuracy: 0.6667 - val_loss: 0.6182
Epoch 24/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.9167 - loss: 0.3575 - val_accuracy: 0.6667 - val_loss: 0.6193
Epoch 25/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8646 - loss: 0.3925 - val_accuracy: 0.6667 - val_loss: 0.6199
Epoch 26/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8521 - loss: 0.3834 - val_accuracy: 0.6667 - val_loss: 0.6214
Epoch 27/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - accuracy: 0.8583 - loss: 0.3982 - val_accuracy: 0.6667 - val_loss: 0.6229
Epoch 28/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - accuracy: 0.8771 - loss: 0.3761 - val_accuracy: 0.6667 - val_loss: 0.6243
Epoch 29/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.8500 - loss: 0.3774 - val_accuracy: 0.6667 - val_loss: 0.6265
Epoch 30/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.8500 - loss: 0.4088 - val_accuracy: 0.6667 - val_loss: 0.6284
Epoch 31/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8521 - loss: 0.3793 - val_accuracy: 0.6667 - val_loss: 0.6295
Epoch 32/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8708 - loss: 0.3653 - val_accuracy: 0.6667 - val_loss: 0.6299
Epoch 33/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8854 - loss: 0.3515 - val_accuracy: 0.6667 - val_loss: 0.6308
Epoch 34/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8375 - loss: 0.4031 - val_accuracy: 0.6667 - val_loss: 0.6323
Epoch 35/35
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8905 - loss: 0.3708 - val_accuracy: 0.6667 - val_loss: 0.6335
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step
Accuracy: 0.7
              precision    recall  f1-score   support

           0       0.40      0.40      0.40         5
           1       0.80      0.80      0.80        15

    accuracy                           0.70        20
   macro avg       0.60      0.60      0.60        20
weighted avg       0.70      0.70      0.70        20

In [134]:
# Evaluate the model
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}")
print(f"Test Accuracy: {test_accuracy}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - accuracy: 0.7000 - loss: 0.6639
Test Loss: 0.663926362991333
Test Accuracy: 0.699999988079071